<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"/>
</head>
<nav class="navbar">
        <h4 class="navbar-item">{% if user %} {{user}} Logged in{% endif %}</h4>
        <a class="button navbar-end" href="{% url 'logout' %}">{% if user %}Logout{% endif %}</a>
</nav>
<center>
<div style="border:1px black;">
    <h2 class="title">Match Summary</h2><br>
    <div class="box" style="font-size:25px;">
    <b>{{match.team1}}</b> vs <b>{{match.team2}}</b>, at {{match.venue}}, {{match.city}}<br>
    <b>{{match.toss_win}}</b> elected to <b>{{match.toss_decision}}</b><br>
    <b>{{match.winner}}</b> won by {% if match.win_by_runs %}{{match.win_by_runs}} runs {%endif %} {% if match.win_by_wkts %}{{match.win_by_wkts}} wickets {%endif %}<br>
    Player of the match - <b>{{match.pom}}</b></div></div><br></center>
<h2 class="title "><i>Ball to Ball Statistics</i></h2>
    <table class="table is-striped is-bordered is-hoverable is-fullwidth">
        <tr class="has-background-success">
            <th>Innings</th>
            <th>Over</th>
            <th>Ball</th>
            <th>Striker</th>
            <th>Bowler</th>
            <th style="text-align:center;">Ball Result</th>
            <th>Batsman Runs</th>
        </tr>
        {% for detail in details %}
        <tr>
            <td>{{detail.inning}}</td>
            <td>{{detail.ovr}}</td>
            <td>{{detail.ball}}</td>
            <td>{{detail.batsman}}</td>
            <td>{{detail.bowler}}</td>
            <td style="text-align:center;">{{detail.total_runs}} Runs {% if detail.player_dismissed %} {{detail.player_dismissed}} {% endif %} {% if detail.dismissal_kind %} {{detail.detail.dismissal_kind}} {% endif %} {% if detail.fielder %} by {{detail.fielder}} {% endif %}</td>
            <td>{% if detail.batsman_runs %}{{detail.batsman}} scored {{detail.batsman_runs}} runs{% else %}Dot Ball{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>