<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Season {{season}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
<nav class="navbar">
        <h4 style="font-size:150%" class="navbar-item has-background-grey-lighter">{% if user %} {{user}} logged in{% endif %}</h4>
</nav>
<!--<center>-->
<!--<h1 style="font-size: 200%;"class="has-background-success">IPL Matches-Season {{season}}</h1>-->
<!--</center>-->
<!--<br>-->
<nav class="navbar has-background-success" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <label class="navbar-item" style="font-size: 200%;">IPL Matches-Season {{season}}</label>
  </div>
  <div class="navbar-end">
       <div class="navbar-item is-hoverable">
        <a class="navbar-link" style="font-size: 150%;">
          Seasons
        </a>
         <div class="navbar-dropdown">
             {% for item in years %}
                <a href="{% url 'Season_Details' item.year%}" class="navbar-item">{{ item.year }}</a>
             {% endfor %}
         </div>
  </div>
      <a class="navbar-item" href="{% url 'home'%}" style="font-size: 150%;">Home</a>
      <a class="navbar-item" href="{% url 'logout' %}" style="font-size: 150%;">Logout</a>
  </div></nav>
<!--<a href="{% url 'home'%}"><button class="button is-link is-rounded" >HOME</button></a>-->

<hr>
<!--<table style="font-size: 125%;" align="center" class="table is-striped is-hoverable">-->
    <!--<tr class="has-background-success">-->
        <!--<th align="center">Season</th>-->
        <!--<th align="center">Team-1</th>-->
        <!--<th align="center">Team-2</th>-->
        <!--<th align="center">Venue</th>-->
        <!--<th align="center">Toss Winner</th>-->
        <!--<th align="center">Match Winner</th>-->
        <!--<th align="center">MoM</th>-->
        <!--<th align="center">Details</th>-->

        <!--&lt;!&ndash;{% if 'onlineapp.change_college' in permissions or 'onlineapp.delete_college' in permissions %}&ndash;&gt;-->
        <!--&lt;!&ndash;<th align="center">Details</th>&ndash;&gt;-->
        <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
    <!--</tr>-->
    <!--{% for item in matches%}-->
    <!--<tr>-->
        <!--<td align="center" height="50px"> {{season}} </td>-->
        <!--<td align="center" height="30px">{{ item.team1 }} </td>-->
        <!--<td align="center" height="30px">{{ item.team2 }} </td>-->
        <!--<td align="center" height="30px">{{ item.venue }} </td>-->
        <!--<td align="center" height="30px">{{ item.toss_win }} </td>-->
        <!--<td align="center" height="30px">{{ item.winner }} </td>-->
        <!--<td align="center" height="30px">{{ item.pom }} </td>-->
        <!--<td ><a href="#" class="button is-primary">View Details</a> </td>-->
        <!--&lt;!&ndash;{% if 'onlineapp.change_college' in permissions %}&ndash;&gt;-->
        <!--&lt;!&ndash;<td align="center" height="30px"><a href="http://127.0.0.1:8000/addcollege/{{ item.id }}/edit"><button  class="tag is-link is-medium  is-rounded">edit</button></a> </td>&ndash;&gt;-->
        <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
        <!--&lt;!&ndash;{% if 'onlineapp.delete_college' in permissions %}&ndash;&gt;-->
        <!--&lt;!&ndash;<td align="center" height="30px"><a href="http://127.0.0.1:8000/addcollege/{{ item.id }}/delete"><button  class="tag is-danger is-medium  is-rounded ">delete</button></a> </td>&ndash;&gt;-->
        <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
    <!--</tr>-->
    <!--{% endfor %}-->
<!--</table>-->
<center class="has-background-grey-lighter"><h1 style="font-size:50px;">Season Winners : {{pt.0.1}}</h1></center><br>
<center><h1 style="font-size:30px"><b>Points Table</b></h1></center>
    <center>
    <table class="table is-striped is-hoverable">
        <tr class="has-background-success">
            <th>Rank</th>
            <th align="center">Team</th>
            <th>Played</th>
            <th>Won</th>
            <th>Lost</th>
        </tr>
        {% for row in pt %}
            <tr>
                {% for i in row %}
                    <td align="center">{{i}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    </center>
    <hr>
<center>
<center>
    <div class="container">
        {% for item in matches %}
        <div class="box has-background-grey-lighter">
            <article class="med">
                        <p>
                            <strong>{{item}}</strong><br>
                            <strong>Venue : </strong>{{item.venue}}<br>
                            <strong>Toss : </strong>{{item.toss_win}} won the toss and elected to {{item.toss_decision}} first<br>
                            <strong>Winner : </strong>{{item.winner}}<br>
                            <strong>Player of the Match : {{item.pom}}</strong><br>
                            <a href="{% url 'display_match_details' item.match_id %}" class="button is-primary">View Details</a>
                            <strong></strong><br>
                            <strong></strong><br>
                        </p>
            </article>
        </div>
        {%endfor%}
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if matches.has_previous %}
            <a class = "button has-background-grey" href="?page=1">&laquo; first</a>
            <a class = "button has-background-primary" href="?page={{ matches.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ matches.number }} of {{ matches.paginator.num_pages }}.
        </span>

        {% if matches.has_next %}
            <a class="button has-background-primary" href="?page={{ matches.next_page_number }}">next</a>
            <a class="button has-background-grey" href="?page={{ matches.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
</center>

</body>
</html>