<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

</head>
<body>
<form method="POST" class=" ">
    {% csrf_token %}
    <table  cellspacing="10" align="center" class="table is-striped ">
    {{ form.as_table }}
    </table>
    <center><button class="button is-link is-rounded" type="submit">{{ action }}</button></center>
</form>

</body>
</html>