<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all colleges</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
<a  href="{% url 'logout' %}"><button class="button is-link is-rounded has-background-danger">Logout</button></a>
<table border=2 align="center" class="table is-striped is-hoverable">
    <tr class="has-background-link">
        <th align="center">ACRONYM</th>
        <th align="center">NAME</th>
        {% if 'onlineapp.change_college' in permissions or 'onlineapp.delete_college' in permissions %}
        <th align="center"colspan="2">ACTIONS</th>
        {% endif %}
    </tr>
    {% for item in colleges%}
    <tr>
        <td align="center" height="30px">{{ item.acronym }}</td>
        <td align="center" height="30px"><a href="http://127.0.0.1:8000/colleges/{{ item.id }}">students of {{item.name}}</a> </td>
        {% if 'onlineapp.change_college' in permissions %}
        <td align="center" height="30px"><a href="http://127.0.0.1:8000/addcollege/{{ item.id }}/edit"><button  class="tag is-link is-medium  is-rounded">edit</button></a> </td>
        {% endif %}
        {% if 'onlineapp.delete_college' in permissions %}
        <td align="center" height="30px"><a href="http://127.0.0.1:8000/addcollege/{{ item.id }}/delete"><button  class="tag is-danger is-medium  is-rounded ">delete</button></a> </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% if 'onlineapp.add_college' in permissions %}
<a  href="http://127.0.0.1:8000/addcollege/"><center><button class="button is-link is-rounded is-outlined">add college</button></center></a>
{% endif %}
<br>
<!--<p>{{permissions}}</p>-->
</body>
</html>