<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all colleges</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
<a  href="{% url 'logout' %}"><button class="button is-link is-rounded has-background-danger">Logout</button></a>
<a  href="{% url 'clglinks' %}"><button class="button is-link is-rounded ">Colleges</button></a>
<br>
<h1 style="font-size: 200%;"class="has-background-success">Students of {{college}}</h1>
<br>
<table align="center" class="table is-striped is-hoverable">
    <tr class="has-background-link">
        <th align="center">Name</th>
        <th align="center">DB_folder</th>
        <th align="center">Total</th>
        {% if 'onlineapp.change_student' in permissions or  'onlineapp.delete_student' in permissions %}
        <th align="center"colspan="2">Actions</th>
        {% endif %}
    </tr>
    {% for item in details%}
    <tr>
        <td align="center" height="30px">{{ item.name }}</td>
        <td align="center" height="30px">{{ item.db_folder }} </td>
        <td align="center" height="30px">{{ item.mocktest1__total}}</td>
        {% if 'onlineapp.change_student' in permissions %}
        <td align="center" height="30px"><a href="{% url 'editstu' item.id %}"><button class="tag is-link is-medium  is-rounded">edit</button></a></td>
        {% endif %}
        {% if 'onlineapp.delete_student' in permissions %}
        <td align="center" height="30px"><a href="http://127.0.0.1:8000/addstudent/{{ item.id }}/delete"><button class="tag is-danger is-medium  is-rounded">delete</button></a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% if 'onlineapp.add_student' in permissions %}
<a href="http://127.0.0.1:8000/addstudent/{{ id }}"><center><button class="button is-link is-rounded is-outlined">add student</button></center></a>
{% endif %}
</body>
</html>