<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all colleges</title>
</head>
<body>
<table>
    <tr>
        <th>acronym</th>
        <th>name</th>
    </tr>
    {% for item in colleges%}
    <tr>
        <td>{{ item.acronym }}</td>
        <td>{{ item.name }}</a> </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>